.div1 {
    margin-left:  20%;
    margin-top: 10%;
    justify-content:  space-between;
}

  input[type=text] {
    
    padding: 5px 70px;
    margin: 20px 0;
    margin-left: 50px;
  
  }
  label {
    position: absolute;  
 }

 .label-balance{
    margin-left: 50px;
 }

.button-style{
    
    width: 13%;
    padding: 10px;
    margin-left: 50px;
    border-radius: none;
   
   
}